@{
    ViewData["Title"] = "Merchant";
}

<audio id="coinSound" preload="none" controls="" style="margin-top: 5px; display:none">
        <source src="https://wow.zamimg.com/sound-ids/live/enus/187/567483" type="audio/ogg; codecs=&quot;vorbis&quot;">
</audio>

<br />
<p style="color:navajowhite">Merchant</p>

<div id="modelJumbo" class="jumbotron" style="opacity:0.7; background-color:black; color:navajowhite">
    <div id="charactersListDiv"></div>
    <hr />
    <div id="itemsListDiv" class="text-center"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/item/merchant.js"></script>
