@{
    ViewData["Title"] = "Story";
}

<br />
<p style="color:navajowhite">Story</p>
<div class="btn-group">
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Combat" asp-action="Combat_party">Party</a>
    <a class="btn btn-secondary btn-sm" asp-controller="Combat" asp-action="Combat_story">Story</a>
    <a class="btn btn-outline-secondary disabled btn-sm">Dungeon</a>
    <a class="btn btn-outline-secondary disabled btn-sm">Arena</a>
</div>
<button id="stopAudio" class="btn btn-dark btn-sm" style="float:right">stop sound</button>

<div id="modelJumbo" class="text-left jumbotron" style="opacity:0.7; background-color:black; color:navajowhite">
    <div>
        Select character
        <div id="charactersDiv"></div>
    </div>
    <hr />
    <button id="beginBtn" class="btn btn-block btn-sm btn-outline-success" style="display:none">Begin</button>
    <hr />
    <div>
        Select act
        <div id="episodesDiv"></div>
    </div>
    <hr />
    <div>
        <p style="text-align:center">
            Brief history of Av'el'Raan
        </p>
        <div id="briefHistoryDiv"></div>
        <p style="text-align:justify">
            T0: Triarii monoliths arrive on Nefriatos' orbit. Unable to communicate with them, the Illithos (the population of Nefriatos) perceive them as a threat.
            Several months later a masive orbital bombardment begins, any major civilized infrastructure destroyed. The Illithos send a plea for help to the far reaches of space, using the Pyramid of Kardah.
            The Ilithos civilization is wiped out, their cities and cultural stamp lie in ruins. The seeding of Nefriatos begins, the Triarii nurture the first proto-human societies to emerge, and leave the system.
        </p>
        <p style="text-align:justify">
            T1: The human civilization thrives extending over the lush biosphere of Nefriatos. Cults and beliefs appear based on the ruins of the Stone Seats.
            The first contact between humans and dwarves happens peacefully, as the dwarves emerge from the 6th core of the planet to the surface.
        </p>
        <p style="text-align:justify">
            T2: The plea for help reaches the world of Ryxos and is heard by those studying the dark energy flow.
            Elves manage to decode it and begin constructing a portal in trying to establish a travel route to the Ilithos' world. The portal is finished, but upon opening it a riptide of dark energy triggers a cataclysmic event on Ryxos.
            Several millions die on Ryxos while some manage to escape through the unstable portal. In doing so, the tidal flow spreads to Nefriatos and creates the two Veils. The link is broken with the comming of the elves.
        </p>
        <p style="text-align:justify">
            T3: Large parts of Nefriatos become uninhabitable, the Cloud Kingdom (the largest, most resourceful kingdom of Nefriatos, which spanned over the entire length of the Dragonmaw continent, encompasing the peaks of Pel'Ravan, is covered in permafrost ice in only three days).
            Birds are unable to fly higher than a couple hundred meters. The oceans become largely unsailable, the Small Veil become a practically impenetrable wall of vertical water flow. The Big Veil covers an eight of the planet.
            The planet's tilt is shifted and becomes tidally locked with its host star. The north pole covered in perpetual darkness, the South pole in perpetual light. The survivors flee towards the median parts of the planet.
        </p>
        <p style="text-align:justify">
            T4: Three Atelaan ships clash in the orbit of the planet, two of the ships come crashing down on the planet surface, while the third is engulfed by the void.
            The presence of the crystal ships creates a tangent effect between the world and dark matter. Magic runs rampant and the humans are forced to ban its use and destroy its manifestation whenever it appears.
            This puts them at odds with the eldest of the elf folk which still looked into means of returning home. A long lasting hatred is spurred, yet the cultures remain neutral to each other for centuries.
            The world is named Av'el'Raan following the fallen stars which crashed onto planet.
        </p>
        <p style="text-align:justify">
            T5: The Atelaan, later known as Av, survives the crash and imprisons his brother (Raan) in the archipelago of Azur'ajan.
            While the Atelaan were beings of pure energy, they could not hold a form themselves. Av soon realizes that the crash trapped both of them here and that the crystal coral which made their ships, and therefore gave the Atelaan a shape, was too far from a source of heat and radiation in order to grow. The planet's host star was a red dwarf, too weak and too far to give any photosynthesis powers to match the coral's needs.
            Av's only choice is the mimic his fallen brother's methods in manipulating the dark energy, in order to try to establish a connection to the lesser creatures of the planet.
            The Atelaan's only success lies with one of the oldest elven mythics, Fearuin, which upon sensing these unknown energies begins looking for solutions to entrap these calls. His research takes him to an extinct volcano in the Mountains of Tael'dorthir, within the heart of the human Kingdom of Farlindor.
            Fearuin's research and progress in reshaping the interior of the old volcano into what he called a Resonance Chamber, goes largely unnoticed for centuries.
        </p>
        <p style="text-align:justify">
            T6: The warring humans of Farlindor happen to cross the hidden valleys of Tael'dorthir, and Meiuirthil (Fearuin's home) is discovered. The humans are forbidden to enter or cross the valleys, Fearuin fearing that their affinity to psionics (which was known to disrupt the weave of dark energy) may render the Resonance Chamber's fragile tune unstable and ruin his work.
            The humans, already hating the elves for invading their world and causing massive destruction in the olden days, find a reason in that alone to attack and destroy the valley. Fearuin is killed and Meiuirthil burned.
            The desecration of Meiuirthil and the ensued slaughter spreads like wildfire among the neighbouring elvish kingdoms, declaring war against Farlindor, known as the Empire of Seracleea.
            One of the emperor's sons, Luscian Verrus, leads a crusade against the elves, acting before they centralize their forces. He lands a large amount of troops on the elven shores of Peradin, while systematically attacks the other kingdoms.
            The empire, outnumbering and outresourcing the elves, emerges victorious, and the small kingdoms of Thel'anor, Ilmarith, Elvar, Celebfalas, Peradin and Eldafor are defeated, forcing the survivors to cross Pel'Ravan towards the south.
        </p>
        <p style="text-align:justify">
            T7: Av's malformed entity endures and manages to create a symbiotic relationship with a half elf child called Serrien, later known as Feathalion by the elves.
            Feathalion's abilities are seen and protected with dogmatic fervor by the exiled elves of Dragonmaw Continent, as they rally behind him in the following conflicts between elves and the men of the empire.
            After several decades of war, the Empire of Seracleea, already weakend by the wars on its eastern borders against the Saal'grun empire and its allies on the second largest continent of Av'el'Raan, Three Seas Continent, makes a last attempt to defeat the elves of Feathalion's Iron Crown which by that time managed to reach the old kingdom of Farlindor, killing several of the emperor's sons, with Luscian being among them.
            Feathalion is defeated by the emperor Quintus in a famous duel which will last eternally in the histories of both cultures. Av's link to Serrien is shattered and the Atelaan is engulfed by the void its link to the dark energy rupturing his imprint.
            Serrien envisions the return of the monoliths of the Triarii, and warns Quintus about the fate of Av'el'raan, as well as telling him how to communicate with the crystal coral composit which made the Atelaan's ships.
            The emperor returns to Seracleea, only to face its defeat against the expanding Saal'grun empire. Unable to save his former home he leaves to the north, the everdark pole of the planet, and begins the search for any coral that is still alive, which may have dropped from the crashing ships eons ago.
        </p>
        <p style="text-align:justify">
            T8: One of the strongest psionists of Av'el'raan is born, a human girl called Eileen, later known as the Crowned Child.
            Eileen imprisonment and perverted youth within the frozen Cloud Kingdom, later facing tortures and sexual perversions at the hand of a dark elf called El'myradon Jin, shapes her into a narcisisstic, hysterical, and ultimately mad mass murderer, at one point consuming through psionic manifestations the population of an entire village, somewhere within the Midheim regions of the Western Kingdoms-by-the-Sea.
            El'myr discovers and transports a part, still intact, of Av's ship to Ten Isles Kingdom in Midheim. As Eileen grew, so did her powers. El'myr tries to use her abilities to communicate with the ship, since the coral's warded behavior towards magic made it virtually immune to any approach using dark energy.
            Eileen taps into her potential, the coral reacting only slightly to her psionic prowess, yet no connection can be established. Eileen spends several years of her life into trying to communicate with the crystal ship, to no avail. Giving in to depression, her madness turns towards those around her eventually killing El'myr and his followers.
            The girl is soon after crowned as Princess of Midheim and begins a pilgrimage within the neighbouring kingdoms, crossing Pel'Ravan, and aquiring wealth and titles over the lands to were she travels. Those that deny her as a ruler, are either killed or grow mad. Some see her as a saint, some as a demon.
        </p>
        <p style="text-align:justify">
            T9: Quintus' exile lead him deep within the cores of the the planet, seeking a heatsource powerful enough to make the coral react to it. Quintus descends to the 4th core of the planet, his psionic abilities keeping him alive through the Shifting Planes of the cores.
            Eileen's reign is challenged by the Principality of Reinmar, later known as Republic of Reinmar, and this leads to an open revolt against her in the Kingdom of Danar.
            The discovery of metafluid within Reinmar, a plasmatic material that can withstand unthought levels of force and punishment, whilst generally impervious to dark energy and psionic manifestations gives Reinmar the upper hand in the rising conflict.
            Eileen's vasals are defeated, while many kingdoms ally themselves with Reinmar against the Crowned Child. Midheim is invaded by the largest force ever assembled in Dragonmaw continent, and Eileen is imprisoned in the crashed Atelaan ship.
            She then makes a desperate attempt to force the coral to enhance her psionic abilites, yet this is perceived as a threat and is soon after disintegrated and consumed by the crystal ship.
            King Aeldan Falgar of the Reinmar Republic unifies Midheim and Danarian kingdoms. The Masked Senate is formed and the Edicts of Reinmar are passed, banning both magic and psionic use, additionally creating a number of reforms which restore the human cultures of Dragonmaw to a former, peaceful, centralized and proseprous life. Through diplomatic means, Aeldan unifies the kingdoms of Thar, Farlindor, Darkyrdom and the northern regions of Dragonmaw. Reinmar becoming the largest kingdom ever known by the peoples of Av'el'raan, albeit still inheriting the title of Republic.
            Aeldan Falgar then crosses the Dark Sea to the north, reaching the lands of Seracleea, now under the control of the Saal'grun Empire, and immediately proceeds to capture, destroy or banish any form Saal'grun ownership over these lands.
        </p>
        <p style="text-align:justify">
            T10: The Saal'gruun Empire, weakened by internal turmoil and plagued by centuries of fratricid wars and civil strife, is unable at first to respond to this new threat, and considers it a comeback of the Seracleean Empire.
            Aeldan's progress is swift and precies, capturing the former imperial citadels and opening the trade routes between Three Seas and Dragonmaw continent. The people that have been under Saal'grun oppresion for centuries are freed, most joining the Republic, and raising their banners alongside their own.
            Swaths of the northeren populations of Three Seas are liberated and local administration is shaped based on the Edicts of Reinmar. The cultures flourish and commerce raises the quality of life for the people of Three Seas.
            The Saal'grun raise their armies in order to stop the Reinmar tactical advance. The largest battle ever to occur on Av'el'raan happens on the West Endari plains, the Pyramid of Kardah is destroyed a third and final time, the knowledge of the Ilithos being lost forever.
            Reinmar's advance continues south of Endar, over the Twin Vines jungles, establishing trade routes, and infrastructures along the way. Welcoming those who wish to join the republic, destroying those who don't.
            A second and last attempt to stop the human advance is organized by the Saal'grun in Calvinia, the southernmost region of Three Seas. The armies of the republic are victorious and the Saal'grun flee to the south over the seas, to their ancestral home in the South Pole, Aj'Jahra.
            At the height of its power, the Republic of Reinmar streched from the Big Veil, accros the planet, to the Infinite Sea, effectively administering some eighty percent of the habitable zones of Av'el'Raan.
            In an attempt to cross the channel to the Aj'Jahra, King Aeldan Falgar, against all opposition from within the Senate, loses his life at sea in a storm triggered by the Small Veil currents.
            The Senate of the Republic with its regional collegiums retain the cohesion of Reinmar, and the Saal'grun are unable to cross back the sea into human lands.
        </p>
        <p style="text-align:justify">
            T11: Upon his return, Quintus is seen as a saint by the people of Reinmar. Although his newborn child, Thalion Ragnir, is considered a mistery and an awkwardness of nature by the Senate of Reinmar, largely due to its blue skin, which was uncommon in human lands.
            During his travels, Quintus's psionic powers tapped into the crystal coral while exposed to insurmountable levels of heat, and left himself to be asimilated by it. Upon his return, his sister wife gave birth to Thalion which was a unique manifestation of the crystal sprout, able of rational thinking and fully aware of its existence, something neverbefore experienced by the coral in its billions of years of life.
            The crystal's awareness made it perceive life on Av'el'raan in need of sanctuary and protection, mainly due to its own experience as an intergalatic entity. Its density gave it direct powers over the magnetic fields of the star's planetary system, it's senses extending as far as the local cluster.
            In the centuries that followed, Thalion slowly shaped the tidal forces of the planet in relationship with its host star, the growth of plant and animal life and encompassed the planetary system in a protective charged particles sphere in order to shield it from dark energy, making it virtually intangible by the weave.
            He then tried to better understand the link between Av'el'raan and Ryxos that the forefathers of the elves managed to create, based on the Ilithosi encoded message. He eventually came to understand that the Illithos were a specie that was so close to make the first jump to space, unfortunately they relied too heavily on means of harbouring dark energy. Something which drew the first three Atelaans to this planet.
            Thalion's search for Ilithos knowledge and the results that he gathered were too late to prevent the return of the Triarii.
        </p>
        <p style="text-align:justify">
            T12: The arrival of the Triarii spear-ship marked the end of Av'el'raan, as Thalion came to understand why what they came to collect. Thalion managed to communicate with the Triarii and inquired about their motives.
            The Triarii were a space faring specie which originated somewhere in the Orion–Cygnus. They were human at first, which over the course of millenia managed to bind their own thought and reason within swarms of mechanized microbiomes linked between eachother by individual consciousness, creating unique patterns of individuals within their society.
            Reaching galactic scale travel and civilization, the Triarii tried to incorporate streams of new discoveries based on human-based cultures which they planted on various habitable environments in space.
            They discovered a planet, calculated the chances for a new human culture to grow there and eliminated any threat to the new colony, eventually seeding the planet with proto-human civilizations. They would mark the location of said colony on their star-map, and based on an algorithm they abandoned it, only to return to see what came out of said colony.
            If the humans managed to evolve to a point that the Triarii considered worth incorporating into their society, the colony would survive receiving everything the Triarii had to offer, if not, the colony would be destroyed, and a new cycle could begin.
            Av'el'raan had such a colony which the Triarii spear-ship (a lower class, monolith) considered worth saving and studying, due to the large number of psionists, like Quintus, as well as native-latent psionic users, as was the case of Eileen. Yet the Triarii considered everything else a danger and considered surgically eliminating any other civilization, culture or specie which could impede the process the future development of Av'el'raan.
            The Triarii were aware of the existance of the Atelaans and their coral ships. It was well documented within their archives the encounters with the Atelaan species. No communication ever occured between them, and the encounters ended with either attacking one another, or simply runing away from each other.
            Thalion's life as a coral ship never met any of them, and its plea to leave Av'el'raan remained unanswered. The Triarii spear-ship explained that even if they would leave now, others will return in order to collect information about the colony here, since this planet was marked on their star-map, they considered it belongs to them.
            Terms were offered, Quintus, among other significant psionists were to be transported to the spear-ship, and the planet destroyed, the only way to remove it from their internal archives, although the spear-ship itself did not possess planetary destruction capabilities, others would be called to initiate the process. The coral entity, Thalion would be left freely roam the void.
            Although Thalion Ragnir was a coral construct, and could only understand what its creators, the Atelaan, programmed it to understand, alongside eons of space travelling with the Atelaan Av as elves called him, during its development on the planet and since it shaped itself and experienced the human birth, it could also understand and feel the emotions of the humanoid cultures, as well as those of its parents, and those he had interacted with during his life as an entity and less as a construct.
            The Triarii spear-ship broke in orbit being crushed by forces similar to that of a black hole, although it was only a matter of time before others would return.
        </p>
        <p style="text-align:justify">
            T13: The survival of the populations of Av'el'raan become Thalion's main concern over the next decades. The coral could not grow itself due to the fact that the star's core was too weak, and even so, would there be enough time before the Triarii would return? The planet's core, although hot and molten was sheathed by the Shifting Planes, leaving no room for the Thalion to grow more of itself, until causing cataclysmic reactions on the surface.
            The only viable solution was to use the dark energy weave to bind Av'el'raan to Ryxos, the planet that the elves originated from, and ferry as many as possible. Thalion then met with Serrien, which was the only remaining source of dark energy, capable enough for such a feat. With Av dead, Serrien could not rely on any astral being to regulate a dark energy transfer of such magnitute, which meant that it could possibly lead to disastrous effects, yet Serrien has loved his people more than anything throughout his entire existence, and agreed to this exchange only if the elves crossed first.
            Thalion agreed and work could begin on the weave portals to Ryxos. There was no telling if this would work, what laid on the other side, will they even survive the trip, yet some crossed, others remained. Serrien could only keep the weave portals open for a single day, before his body being consumed and burned to ash by his own accretion disk of dark matter, as the last thing he saw being his own children Aelara and after her, his son Asrien crossing the bridge between the two worlds.
            Many other people remained behind either willingly, or due to circumstance. Quintus and Maedra, Thalion's human parents, chose to remain as well, since the coral entity could not pass through the weave portals. The feeling of loss marked the coral for the rest of its existence, for it knew what was to come.
            The Triarii returned, Nefriatos was destroyed.
        </p>
    </div>
</div>

<div id="modalDiv"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/combat/combat_story.js"></script>