@{
    ViewData["Title"] = "Combat";
}

<br />
<p style="color:navajowhite">Combat</p>

<div id="modelJumbo" class="text-left jumbotron" style="opacity:0.7; background-color:black; color:navajowhite">
    <div class="btn-group-sm"> Generate NPC
        <button id="weak" class="btn btn-outline-dark">Weak</button>
        <button id="normal" class="btn btn-outline-dark">Normal</button>
        <button id="strong" class="btn btn-outline-dark">Strong</button>
        <button id="getFight" class="btn btn-outline-dark float-right">Fight!</button>
    </div>

    <hr />

    <div id="combatants" >
        <div class="container">
            <div class="row">
                <div id="fighterDiv" class="col text-center" style="border-color:burlywood; border-style:solid; border-radius:7px">
                    <button class="btn btn-primary">aaa</button>
                </div>
                <div class="col col-2 text-center">
                    <button id="attackBtn" class="btn btn-outline-light">Attack</button> <br /> <br />
                    <button id="endTurnBtn" class="btn btn-outline-light">End turn</button>
                </div>
                <div id="npcDiv" class="col text-center" style="border-color:coral; border-style:solid; border-radius:7px">
                    Column
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/combat/fight.js"></script>