@{
    ViewData["Title"] = "Arena";
}

<br />
<p style="color:navajowhite">Combat</p>
<div class="btn-group">
    <a class="btn btn-outline-dark btn-sm" asp-controller="Combat" asp-action="Combat_index">Index</a>
    <a class="btn btn-outline-dark btn-sm" asp-controller="Combat" asp-action="Combat_storyMode">Story</a>
    <a class="btn btn-outline-dark btn-sm" asp-controller="Combat" asp-action="Combat_dungeon">Dungeon</a>
    <a class="btn btn-outline-dark btn-sm" asp-controller="Combat" asp-action="Combat_arena">Arena</a>
</div>

<div id="modelJumbo" class="text-left jumbotron" style="opacity:0.7; background-color:black; color:navajowhite">




</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/combat/combat_arena.js"></script>