@{
    ViewData["Title"] = "Quest";
}

<br />
<p style="color:navajowhite">Episodes</p>

<div id="modelJumbo" class="text-left jumbotron" style="opacity:0.7; background-color:black; color:navajowhite">
    <div id="episodes">
        <div>
            -800 <button id="aquila" class="btn btn-outline-secondary" style="width:600px; color:navajowhite">Aquila Foedus</button>
        </div> <br />
        <div>
            -500 <button class="btn btn-outline-secondary disabled" style="width:600px">Crusade of Epion</button>
        </div> <br />
        <div>
            -400 <button class="btn btn-outline-secondary disabled" style="width:600px">Siege of Meiuirthil</button>
        </div> <br />
        <div>
            -280 <button class="btn btn-outline-secondary disabled" style="width:600px">Fall of Karnak</button>
        </div> <br />
        <div>
            -255 <button class="btn btn-outline-secondary disabled" style="width:600px">Destruction of Kardah</button>
        </div> <br />
        <div>
            -250 <button class="btn btn-outline-secondary disabled" style="width:600px">Azur'ajan</button>
        </div> <br />
        <div>
            -210 <button class="btn btn-outline-secondary disabled" style="width:600px">Wulfrid's Rebellion</button>
        </div> <br />
        <div>
            -200 <button class="btn btn-outline-secondary disabled" style="width:600px">The Elfin War</button>
        </div> <br />
        <div>
            -100 <button class="btn btn-outline-secondary disabled" style="width:600px">The Crowned Child</button>
        </div> <br />
        <div>
            -80 <button class="btn btn-outline-secondary disabled" style="width:600px">Edicts of Reinmar</button>
        </div> <br />
        <div>
            -50 <button class="btn btn-outline-secondary disabled" style="width:600px">Thalion Ragnir</button>
        </div> <br />
        <div>
            year 0 <button class="btn btn-outline-secondary disabled" style="width:600px">Age of Reinmar</button>
        </div> <br />
        <div>
            280 <button class="btn btn-outline-secondary disabled" style="width:600px">The Red Halls of the Solar</button>
        </div> <br />
        <div>
            350 <button class="btn btn-outline-secondary disabled" style="width:600px">Descent of Vald</button>
        </div> <br />
        <div>
            430 <button class="btn btn-outline-secondary disabled" style="width:600px">Rise of Vrajn</button>
        </div> <br />
        <div>
            500 <button class="btn btn-outline-secondary disabled" style="width:600px">Veil of the Coral Sprout</button>
        </div> <br />
        <div>
            993 <button class="btn btn-outline-secondary disabled" style="width:600px">Iron Crown of Ryxos</button>
        </div> <br />
        <div>
            1000 <button class="btn btn-outline-secondary disabled" style="width:600px">The Triarii</button>
        </div> <br />
    </div>
    <div id="characters" style="display:none"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/quest/index.js"></script>