@{
    ViewData["Title"] = "Character";
}

@{
    var list = ViewBag.listOfPlayers;
}

<br />
<p style="color:navajowhite">Characters</p>
<div class="btn-group">
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Character" asp-action="Character_index">Index</a>
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Character" asp-action="Character_roll">Roll</a>
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Character" asp-action="Character_select">Select</a>
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Character" asp-action="Character_levelup">Levelup</a>
</div>

<div id="modelJumbo" class="text-left jumbotron" style="opacity:0.7; background-color:black; color:navajowhite">
    <div class="btn-group">
        <button class="btn btn-info">Alive</button>
        <button class="btn btn-info disabled" id="aliveBtn"></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-dark">Dead</button>
        <button class="btn btn-dark disabled" id="deadBtn"></button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/character/character_index.js"></script>
