@{
    ViewData["Title"] = "Character";
}

<br />
<p style="color:navajowhite">Roll character stats</p>
<div class="btn-group">
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Character" asp-action="Character_index">Index</a>
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Character" asp-action="Character_roll">Roll</a>
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Character" asp-action="Character_select">Select</a>
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Character" asp-action="Character_levelup">Levelup</a>
</div>

<div class="text-left jumbotron" style="opacity:0.7; background-color:black; color:navajowhite">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button id="rollStatsBtn" class="btn btn-outline-light">Roll stats</button>
            </div>
            <div class="col-md-3">
                <p id="statsPlaceholder">0</p>
            </div>
            <div class="col-md-3">
                <p id="statsPlaceholder-1" style="opacity:0.5">previous roll</p> 
            </div>
            <div class="col-md-3">
                <p id="statsPlaceholder-2" style="opacity:0.2">previous two rolls</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button id="storeStatsBtn" class="btn btn-outline-light">Store</button>
            </div>
            <div class="col-md-9">
                <p id="storeStatsPlaceholder" style="color:green"></p>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <label for="charName" class="form-label" style="color:navajowhite">Character name</label>
        <input title="characterName" type="text" class="form-control" style="width: 50%" id="charName">
    </div>
    <div>
        <button id="saveBtn" class="btn btn-outline-success" style="float:right">Save</button>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/character/character_roll.js"></script>