@{
    ViewData["Title"] = "CreateCharacter";
}

@{
    var list = ViewBag.listOfPlayers;
}

<br />
<p style="color:navajowhite">Create character</p>
<div class="btn-group">
    <a class="btn btn-outline-dark btn-sm" asp-controller="Character" asp-action="Character_index">Roll</a>
    <a class="btn btn-outline-dark btn-sm" asp-controller="Character" asp-action="Character_create">Distribute</a>
</div>
    

<div class="text-left jumbotron" style="opacity:0.7; background-color:black; color:navajowhite">
    <p style="color:navajowhite">Distribute stats for character</p>
    <div>
        <select class="btn btn-outline-light" aria-label="playersSelect" name="players" id="players">
            <option selected>Select a player</option>
            @foreach (var item in list)
            {
                <option value="@item">@item</option>
            }
        </select>
        <p id="playerPlaceholder" style="float:right"></p>
    </div>
    <hr />
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/character_create.js"></script>