@{
    ViewData["Title"] = "Character";
}

@{
    var list = ViewBag.listOfPlayers;
}

<br />
<p style="color:navajowhite">Roll character stats</p>
<div class="btn-group">
    <a class="btn btn-outline-dark btn-sm" asp-controller="Character" asp-action="Character_index">Index</a>
    <a class="btn btn-outline-dark btn-sm" asp-controller="Character" asp-action="Character_roll">Roll</a>
    <a class="btn btn-outline-dark btn-sm" asp-controller="Character" asp-action="Character_select">Select</a>
    <a class="btn btn-outline-dark btn-sm" asp-controller="Character" asp-action="Character_model">Model</a>
</div>

<div class="text-left jumbotron" style="opacity:0.7; background-color:black; color:navajowhite">
    <p style="color:navajowhite">Roll stats for character</p>
    <div>
        <select class="btn btn-outline-light" aria-label="playersSelect" name="players" id="players">
            <option selected>Select a player</option>
            @foreach (var item in list)
            {
                <option value="@item">@item</option>
            }
        </select>
        <p id="playerPlaceholder" style="float:right"></p>
    </div>
    <hr />
    <div>
        <button id="rollStatsBtn" class="btn btn-outline-light">Roll stats</button>
        <p id="statsPlaceholder" style="float:right"></p>
    </div>
    <hr />
    <div>
        <button id="storeStatsBtn" class="btn btn-outline-light">Store</button>
        <p id="storeStatsPlaceholder" style="float:right; color:green"></p>
    </div>
    <hr />
    <div>
        <label for="charName" class="form-label" style="color:navajowhite">Character name</label>
        <input title="characterName" type="text" class="form-control" style="width: 50%" id="charName">
    </div>
    <div>
        <button id="saveBtn" class="btn btn-outline-success" style="float:right">Save</button>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/character_roll.js"></script>