@{
    ViewData["Title"] = "Character";
}

@{
    var list = ViewBag.listOfPlayers;
}

<br />
<p style="color:navajowhite">Characters</p>
<div class="btn-group">
    <a class="btn btn-outline-dark btn-sm" asp-controller="Character" asp-action="Character_index">Index</a>
    <a class="btn btn-outline-dark btn-sm" asp-controller="Character" asp-action="Character_roll">Roll</a>
    <a class="btn btn-outline-dark btn-sm" asp-controller="Character" asp-action="Character_select">Select</a>
    <a class="btn btn-outline-dark btn-sm" asp-controller="Character" asp-action="Character_levelup">Levelup</a>
    <a class="btn btn-outline-dark btn-sm" asp-controller="Character" asp-action="Character_model">Model</a>
</div>

<div id="modelJumbo" class="text-left jumbotron" style="opacity:0.7; background-color:black; color:navajowhite">
    <p style="color:orangered">TODO: create logon validation on this page</p>
    <h5 id="welcome"></h5>
    <div>
        <div class="input-group" style="width:200px">
            <span class="input-group-text">Ward</span>
            <input id="ward" type="password" aria-label="First name" class="form-control">
        </div>
        <br />
        <div>
            <select class="btn btn-outline-light" aria-label="playersSelect" name="players" id="players">
                <option selected>Change player</option>
                @foreach (var item in list)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>
        <p id="playerPlaceholder" style="float:right"></p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/character/index.js"></script>