@{
    ViewData["Title"] = "Character";
}

<br />
<p style="color:navajowhite">Select character</p>
<div class="btn-group">
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Character" asp-action="Character_index">Index</a>
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Character" asp-action="Character_roll">Roll</a>
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Character" asp-action="Character_select">Select</a>
    <a class="btn btn-outline-secondary btn-sm" asp-controller="Character" asp-action="Character_levelup">Levelup</a>
</div>
    

<div class="text-left jumbotron" style="opacity:0.7; background-color:black; color:navajowhite">
    <p style="color:navajowhite">Ready to level up</p>
    <div id="levelUpCharactersPool">
        @* draft characters information goes here *@
    </div>
    <hr />
    <p style="color:navajowhite">Ready to fight</p>
    <div id="charactersPool">
        @* characters information goes here *@
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/character/character_select.js"></script>