@{
    ViewData["Title"] = "Character";
}
<br />
<p style="color:navajowhite">Characters</p>

@{ 
//var abc1 = TempData.Peek("aaa");
//var abc2 = TempData.Peek("bbb");
}

<div class="text-left jumbotron" style="opacity:0.7; background-color:black; color:navajowhite">
    <p style="color:navajowhite">Create character</p>
    <div>
        <button id="choosePlayerBtn" class="btn btn-outline-light">Choose player</button>
        <p id="playerPlaceholder" style="float:right"></p>
    </div>
    <hr />
    <div>
        <button id="rollStatsBtn" class="btn btn-outline-light">Roll stats</button>
        <p id="statsPlaceholder" style="float:right"></p>
    </div>
    <hr />
    <div>
        <button id="storeStatsBtn" class="btn btn-outline-light">Store</button>
        <p id="storeStatsPlaceholder" style="float:right"></p>
    </div>
    <hr />





    @*<p id="secret1" >@abc1</p>
        <p id="secret2" >@abc2</p>*@


</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/characterIndex.js"></script>