@{
    ViewData["Title"] = "Fame";
}

<br />
<p style="color:navajowhite">Fame</p>

<div id="fameDiv" class="text-center jumbotron" style="opacity: 0.7; background-color:black; color:navajowhite">
    <div class="container">
        <div class="row">
            <div class="col">Fights</div>
            <div class="col">Wealth</div>
        </div>
        <hr />
    </div>
    <div class="container">
        <div class="row">
            <div id="fightsDiv" class="col"></div>
            <div id="wealthDiv" class="col"></div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/home/fame.js"></script>

