@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button id="clickBtn" class="btn btn-outline-primary">click</button>
</div>
<div id="display"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/homeIndex.js"></script>
