@{
    ViewData["Title"] = "Home Page";
}
<br />


<div class="text-left jumbotron" style="opacity: 0.7; background-color:black; color:navajowhite">
    
    <p class="text-center" style="color:rebeccapurple"><strong>Stay on the happy path, and no horrors will come to you...</strong></p>
    <hr />

    <div id="nonLoggedDiv" style="display:none">
        <div class="row">
            <div class="col-4" style="margin:0px">
                <label class="col-form-label">Power ward</label>
                <select id="symbolWard" class="form-select" aria-label="symbol selector" style="margin-right:10px; border-radius:5px">
                    <option selected>Select symbol</option>
                    <option value="Epsilon">Epsilon &epsilon;</option>
                    <option value="Omicron">Omicron &omicron;</option>
                    <option value="Sigma">Sigma &sigma;</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3">
                <input type="text" class="form-control text-center" id="nameInput" placeholder="Enter name">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3">
                <input type="password" class="form-control text-center" id="powerWardInput" placeholder="Enter ward">
            </div>
        </div>
        <hr />
        <button id="logonBtn" class="btn btn-outline-success float-left" style="margin-right:5px">Submit</button>
        <a id="createPlayerBtn" class="btn btn-outline-dark float-left"  asp-controller="Player" asp-action="Index">I don't have one</a>
    </div>
    <div id="loggedDiv" style="display:none; text-align:center">
    </div>
    <button id="logoutBtn" class="btn btn-outline-dark float-right">Logout</button>
</div>
<p style="color:coral; opacity:0.4">
    <span>
        <img style="height:20px;width:auto" src="~/media/images/white_aquila.jpeg"/>
    </span>
    First playable prototype of Avelraangame version 1.0
</p>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/home/index.js"></script>
